<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="asl_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <asl_project.Properties.Settings>
            <setting name="exitTime" serializeAs="String">
                <value>01/01/2000 00:00:01</value>
            </setting>
            <setting name="exitHungry" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exitTired" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exitStress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>다마고치</value>
            </setting>
            <setting name="GrowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exitSleeping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exitGrow" serializeAs="String">
                <value>0</value>
            </setting>
        </asl_project.Properties.Settings>
    </userSettings>
</configuration>